.snackbar-info {
  background: $snackbar-info;
  color: $snackbar-white
}

.snackbar-error {
  background: $snackbar-error;
  color: $snackbar-white
}

.snackbar-success {
  background: $snackbar-success;
  color: $snackbar-white
}

.snackbar-alert {
  background: $snackbar-alert;
  color: $snackbar-white
}
