
/* Color Snack */
$snackbar-info: #3b3b3b;
$snackbar-error: #eb1d23;
$snackbar-success: #7ed321;
$snackbar-alert: #f08000;
$snackbar-white: #ffffffe8;


/* Colors */
$primary-color: #165C7D;
$seconday-color: #787878;
$color-span: #4F575E;
$background-color-secondary: #E5E5E5;
$background-color-primary: #E7EEF1;
